.carousel{
    overflow-x: hidden;
    width: 500px;
}
.inner-carousel{
     width:100%;
     display: flex;
     gap: 10px;
     background-color: aqua;
}

.inner-carousel .item{
    width:500px;
    height: 250px;
    background-color: orange;
    border-radius: 10px;
}
