
:root{
  --main-color:#565acf;
  --orange-color:#f17732;
  --white-color:white;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
 }


li{
  list-style-type: none;
}

a{
    text-decoration: none;
}

